<h2><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose| %>
  <%= dose.description %> <%= dose.ingredient.name %>
  <%= link_to "supp", dose_path(dose),  method: :delete  %>
<% end %>
<%= link_to "add a dose", new_cocktail_dose_path(@cocktail)  %>
<%= link_to "go back to cocktail", cocktails_path  %>""

